<script setup lang="ts">
import { useCounterStore } from '@/stores/counter';
import NumberButtonVue from './NumberButton.vue';
import { useHomeStore } from '@/stores/homeStore';
import NumberButton2 from '@/components/NumberButton2.vue';
import { provide, ref } from 'vue';

const homeStore = useHomeStore()
const num = ref(10)
provide('num1',num)
provide('num1Click', ()=>
num.value++
)

</script>

<template>
    <div>{{ homeStore.num }}</div>

            <div><NumberButtonVue></NumberButtonVue></div>
            <div><NumberButton2></NumberButton2></div>
        


</template>