<script setup lang="ts">
import { useAddressBookStore } from '@/stores/addressBookStore';
import AddressBookForm from './AddressBookForm.vue'
import AddressBookList from './AddressBookList.vue'
const addressBookStore = useAddressBookStore()
</script>

<template>
  <div>
   <AddressBookForm/>
   <AddressBookList/>
  </div>
  
</template>

<style scoped>
input, 
select, 
label,
button {
  font-family: 'Kanit';
  font-size: 15pt;
  margin: 5px;
}
</style>
