<script setup lang="ts">
import { ref } from 'vue';

interface AddressBook{
  id: number
  name:string
  tel:string
  gender:string
}
let lastId = 1
const address = ref<AddressBook>({
  id:0,
  name: '',
  tel: '',
  gender: 'Male'
})
const addressList = ref<AddressBook[]>([])
const isAddNew = ref(false)
function save(){
  
  addressList.value.push({...address.value, id: lastId++})
  address.value = {
    id:0,
    name: '',
    tel: '',
    gender: 'Male'
  }
}
</script>

<template>
  <div>
    <div>
      <label for="name">Name: </label>
      <input id="name" type="text" v-model="address.name"/>
    </div>
    <div>
      <label for="gender">Gender: </label>
      <select id="gender" v-model="address.gender">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>
      </select>
    </div>
    <div>
      <label for="tel">Tel: </label>
      <input id="tel" type="text" v-model="address.tel"/>
    </div>
    <div><button>Clear</button><button @click="save">Save</button></div>
    <div>
      <pre>{{ address }}</pre>
    </div>
    <div>
      <table>
        <tr>
          <th>#</th>
          <th>name</th>
          <th>gender</th>
          <th>tel</th>
          
        </tr>
        <tr v-for="ad of addressList" :key="ad.id">
          <td>{{ ad.id }}</td>
          <td>{{ ad.name }}</td>
          <td>{{ ad.gender }}</td>
          <td>{{ ad.tel }}</td>
        </tr>
      </table>
    </div>
  </div>
  
</template>

<style scoped>
input, 
select, 
label,
button {
  font-family: 'Kanit';
  font-size: 15pt;
  margin: 5px;
}
</style>
